
@font-face {
  font-family: "LoewNextArabicRegular";
  src: url('../fonts/LoewNextArabic-Regular.ttf');
}


@font-face {
  font-family: "QuicheFineRegular";
  src: url('../fonts/QuicheSans-Regular.otf');
}

@font-face {
  font-family: "LoewNextRegular";
  src: url('../fonts/LoewNext-Regular.otf');
}


h2, h3 {
  color: white;
  font-family: 'QuicheFineRegular';
}
h2 {
  text-align: center;
  font-size: 2.5rem;
}
h3 {
  font-size: 2.8rem;

}
p {
  font-size: 1.3rem;
  padding-left: 1rem;
}


  #card-from {
      font-family: 'LoewNextArabicRegular'
  }

  #card-title {
      font-family: 'LoewNextRegular'
  }

#card-container {
  background-color: white;
  position: relative;
  text-align: center;
}

img {
  height: 1086px;
  width: 869px;
  margin: 0;
  float: center;
  object-fit: cover;
}


#card-title {
  position: absolute;

  top:37%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  letter-spacing: 0.5px;
}

#card-from {
  position: absolute;
  top: 33.5%;
    left: 50%;
  text-align: right;
  transform: translateX(-50%) translateY(-50%);
}
