@font-face {
    font-family: "LoewNextArabicRegular";
    src: url('../fonts/LoewNextArabic-Regular.ttf');
}

@font-face {
    font-family: "LoewNextArabicExtraBold";
    src: url('../fonts/LoewNextArabic-ExtraBold.ttf');
}

@font-face {
    font-family: "QuicheFineRegular";
    src: url('../fonts/QuicheFine-Regular.ttf');
}

