body {
    margin: auto;
    padding: 4rem;
    width: 1000px;
    font-size: 16px;
    color: white;
    background-color: white;
    background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  
  h1 {
    color: 6c16e3;
    font-size: 4rem;
  }
  

  #card-container {
    margin: auto;
    width: 869px;
    max-height: 1086px;
    border: 1px solid grey;
  }
  
  .form-container {
    margin: 2rem 7%;
    align-content: center;
  
  }
  
  
  form, input, textarea, select {
    width: 400px;
    margin: 1rem 0;
  
  }
  
  input:focus, textarea:focus, select:focus {
    border-color: darkgreen !important;
  }
  
  
  button {
    background-color: white;
    color: black;
    border: white;
  }


  button:hover {
    background-color: black;
    color: white;
    border: white;
  }
  
  h1 {
    text-align: center;
  }